(
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Eth,
Dcaron,
Dcedilla,
Dcroat,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hcircumflex,
Hdotbelow,
I,
IJ,
Iacute,
Ibreve,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Istroke,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Nhookleft,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocircumflex,
Odieresis,
Odotbelow,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Oslashacute,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Saltillo,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ubar,
Ubreve,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
Q.ss03,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
eth,
dcaron,
dcedilla,
dcroat,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
edieresis,
edotaccent,
edotbelow,
egrave,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hcircumflex,
hdotbelow,
i,
idotless,
iacute,
ibreve,
icircumflex,
idieresis,
idotaccent,
igrave,
ij,
imacron,
iogonek,
istroke,
itilde,
j,
jdotless,
jacute,
jcircumflex,
k,
kcommaaccent,
kgreenlandic,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
ldotbelow,
lslash,
m,
n,
nacute,
napostrophe,
ncaron,
ncommaaccent,
nhookleft,
ntilde,
eng,
o,
oacute,
obreve,
ocircumflex,
odieresis,
odotbelow,
ograve,
ohungarumlaut,
omacron,
oslash,
oslashacute,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
saltillo,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ubar,
ubreve,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
a.ordn,
d.ordn,
e.ordn,
h.ordn,
m.ordn,
n.ordn,
o.ordn,
r.ordn,
s.ordn,
t.ordn,
a.ss04,
aacute.ss04,
abreve.ss04,
acircumflex.ss04,
adieresis.ss04,
agrave.ss04,
amacron.ss04,
aogonek.ss04,
aring.ss04,
atilde.ss04,
g.ss04,
gbreve.ss04,
gcaron.ss04,
gcircumflex.ss04,
gcommaaccent.ss04,
gdotaccent.ss04,
gmacron.ss04,
f_b.liga,
f_f,
f_f_b.liga,
f_f_h.liga,
f_f_i,
f_f_j.liga,
f_f_k.liga,
f_f_l,
f_f_t.liga,
f_h.liga,
f_i,
f_j.liga,
f_k.liga,
f_l,
f_lcaron.liga,
f_t.liga,
fi,
fl,
t_t.dlig,
t_t_t.dlig,
t_tcaron.dlig,
d_a.ordn,
d_e.ordn,
d_e_s.ordn,
d_o.ordn,
d_s.ordn,
e_m_e.ordn,
e_r.ordn,
e_r_s.ordn,
n_d.ordn,
r_a.ordn,
r_d.ordn,
r_e.ordn,
r_e_s.ordn,
r_o.ordn,
s_t.ordn,
t_h.ordn,
ordfeminine,
ordmasculine,
Omega,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.blackCircled,
one.blackCircled,
two.blackCircled,
three.blackCircled,
four.blackCircled,
five.blackCircled,
six.blackCircled,
seven.blackCircled,
eight.blackCircled,
nine.blackCircled,
zero.circled,
one.circled,
two.circled,
three.circled,
four.circled,
five.circled,
six.circled,
seven.circled,
eight.circled,
nine.circled,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.blackCircled.ss02,
one.blackCircled.ss02,
two.blackCircled.ss02,
three.blackCircled.ss02,
four.blackCircled.ss02,
five.blackCircled.ss02,
six.blackCircled.ss02,
seven.blackCircled.ss02,
eight.blackCircled.ss02,
nine.blackCircled.ss02,
zero.circled.ss02,
one.circled.ss02,
two.circled.ss02,
three.circled.ss02,
four.circled.ss02,
five.circled.ss02,
six.circled.ss02,
seven.circled.ss02,
eight.circled.ss02,
nine.circled.ss02,
zero.blackCircled.ss03,
one.blackCircled.ss03,
two.blackCircled.ss03,
three.blackCircled.ss03,
four.blackCircled.ss03,
five.blackCircled.ss03,
six.blackCircled.ss03,
seven.blackCircled.ss03,
eight.blackCircled.ss03,
nine.blackCircled.ss03,
zero.circled.ss03,
one.circled.ss03,
two.circled.ss03,
three.circled.ss03,
four.circled.ss03,
five.circled.ss03,
six.circled.ss03,
seven.circled.ss03,
eight.circled.ss03,
nine.circled.ss03,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
.notdef,
space,
nbspace,
"parenleft-ar",
"parenright-ar",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
asterism,
exclamdouble,
interrobang,
numbersign,
slash,
backslash,
colon.case,
exclamdown.case,
questiondown.case,
periodcentered.case,
bullet.case,
slash.case,
backslash.case,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
hyphen.case,
endash.case,
emdash.case,
parenleftinferior,
parenrightinferior,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleftsuperior,
parenrightsuperior,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
parenleft.ss01,
parenright.ss01,
braceleft.ss01,
braceright.ss01,
bracketleft.ss01,
bracketright.ss01,
parenleft.ss03,
parenright.ss03,
parenleft.case.ss01,
parenright.case.ss01,
braceleft.case.ss01,
braceright.case.ss01,
bracketleft.case.ss01,
bracketright.case.ss01,
parenleft.case.ss03,
parenright.case.ss03,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
florin,
baht,
whiteSmilingFace,
apple,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
degree,
minute,
second,
bar,
brokenbar,
dagger,
daggerdbl,
at.001,
at.case,
at.001.case,
cent,
currency,
dollar,
euro,
guarani,
hryvnia,
liraTurkish,
ruble,
rupeeIndian,
sheqel,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
increment,
product,
summation,
radical,
partialdiff,
micro,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
rightArrow.case,
leftArrow.case,
leftRightArrow.case,
blackCircle,
whiteCircle,
dottedCircle,
lozenge,
blackSquare,
whiteSquare,
blackCircle.ss03,
whiteCircle.ss03,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
dotbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
strokeshortcomb,
slashshortcomb,
slashlongcomb,
strokeshortcomb.case,
slashshortcomb.case,
slashlongcomb.case,
dieresiscomb.i,
circumflexcomb.i,
brevecomb.i,
tildecomb.i,
macroncomb.i,
strokeshortcomb.i,
commaaccentcomb.loclMAH,
strokeshortcomb.t,
strokelongcomb.case.H,
macroncomb.case.I,
strokeshortcomb.case.I,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
_g.lowear,
_j.lig,
dotbelow,
_b.rightsidelig,
_f.rightsidelig,
_k.rightsidelig,
_n.rightsidelig
)