<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcedilla</key>
    <string>D_cedilla.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Edotbelow</key>
    <string>E_dotbelow.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Etilde</key>
    <string>E_tilde.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcaron</key>
    <string>G_caron.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Gmacron</key>
    <string>G_macron.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>Hdotbelow</key>
    <string>H_dotbelow.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Istroke</key>
    <string>I_stroke.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Jacute</key>
    <string>J_acute.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Lcommaaccent.loclMAH</key>
    <string>L_commaaccent.loclM_A_H_.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Ldotbelow</key>
    <string>L_dotbelow.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Ncommaaccent.loclMAH</key>
    <string>N_commaaccent.loclM_A_H_.glif</string>
    <key>Nhookleft</key>
    <string>N_hookleft.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Odotbelow</key>
    <string>O_dotbelow.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.ss03</key>
    <string>Q_.ss03.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Saltillo</key>
    <string>S_altillo.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>Sdotbelow</key>
    <string>S_dotbelow.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ubar</key>
    <string>U_bar.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Ytilde</key>
    <string>Y_tilde.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>_b.rightsidelig</key>
    <string>_b.rightsidelig.glif</string>
    <key>_f.rightsidelig</key>
    <string>_f.rightsidelig.glif</string>
    <key>_g.lowear</key>
    <string>_g.lowear.glif</string>
    <key>_j.lig</key>
    <string>_j.lig.glif</string>
    <key>_k.rightsidelig</key>
    <string>_k.rightsidelig.glif</string>
    <key>_n.rightsidelig</key>
    <string>_n.rightsidelig.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.ordn</key>
    <string>a.ordn.glif</string>
    <key>a.ss04</key>
    <string>a.ss04.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>aacute.ss04</key>
    <string>aacute.ss04.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>abreve.ss04</key>
    <string>abreve.ss04.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acircumflex.ss04</key>
    <string>acircumflex.ss04.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>adieresis.ss04</key>
    <string>adieresis.ss04.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>agrave.ss04</key>
    <string>agrave.ss04.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>amacron.ss04</key>
    <string>amacron.ss04.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>aogonek.ss04</key>
    <string>aogonek.ss04.glif</string>
    <key>apple</key>
    <string>apple.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>aring.ss04</key>
    <string>aring.ss04.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>asterism</key>
    <string>asterism.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>at.001</key>
    <string>at.001.glif</string>
    <key>at.001.case</key>
    <string>at.001.case.glif</string>
    <key>at.case</key>
    <string>at.case.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>atilde.ss04</key>
    <string>atilde.ss04.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>backslash.case</key>
    <string>backslash.case.glif</string>
    <key>baht</key>
    <string>baht.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>blackCircle</key>
    <string>blackC_ircle.glif</string>
    <key>blackCircle.ss03</key>
    <string>blackC_ircle.ss03.glif</string>
    <key>blackSquare</key>
    <string>blackS_quare.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.case</key>
    <string>braceleft.case.glif</string>
    <key>braceleft.case.ss01</key>
    <string>braceleft.case.ss01.glif</string>
    <key>braceleft.ss01</key>
    <string>braceleft.ss01.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright.case</key>
    <string>braceright.case.glif</string>
    <key>braceright.case.ss01</key>
    <string>braceright.case.ss01.glif</string>
    <key>braceright.ss01</key>
    <string>braceright.ss01.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.case</key>
    <string>bracketleft.case.glif</string>
    <key>bracketleft.case.ss01</key>
    <string>bracketleft.case.ss01.glif</string>
    <key>bracketleft.ss01</key>
    <string>bracketleft.ss01.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright.case</key>
    <string>bracketright.case.glif</string>
    <key>bracketright.case.ss01</key>
    <string>bracketright.case.ss01.glif</string>
    <key>bracketright.ss01</key>
    <string>bracketright.ss01.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecomb.i</key>
    <string>brevecomb.i.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bullet.case</key>
    <string>bullet.case.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexcomb.i</key>
    <string>circumflexcomb.i.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colon.case</key>
    <string>colon.case.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaaccentcomb.loclMAH</key>
    <string>commaaccentcomb.loclM_A_H_.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.ordn</key>
    <string>d.ordn.glif</string>
    <key>d_a.ordn</key>
    <string>d_a.ordn.glif</string>
    <key>d_e.ordn</key>
    <string>d_e.ordn.glif</string>
    <key>d_e_s.ordn</key>
    <string>d_e_s.ordn.glif</string>
    <key>d_o.ordn</key>
    <string>d_o.ordn.glif</string>
    <key>d_s.ordn</key>
    <string>d_s.ordn.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcedilla</key>
    <string>dcedilla.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresiscomb.i</key>
    <string>dieresiscomb.i.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>dotbelow</key>
    <string>dotbelow.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>downArrow</key>
    <string>downA_rrow.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.ordn</key>
    <string>e.ordn.glif</string>
    <key>e_m_e.ordn</key>
    <string>e_m_e.ordn.glif</string>
    <key>e_r.ordn</key>
    <string>e_r.ordn.glif</string>
    <key>e_r_s.ordn</key>
    <string>e_r_s.ordn.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>edotbelow</key>
    <string>edotbelow.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.blackCircled</key>
    <string>eight.blackC_ircled.glif</string>
    <key>eight.blackCircled.ss02</key>
    <string>eight.blackC_ircled.ss02.glif</string>
    <key>eight.blackCircled.ss03</key>
    <string>eight.blackC_ircled.ss03.glif</string>
    <key>eight.circled</key>
    <string>eight.circled.glif</string>
    <key>eight.circled.ss02</key>
    <string>eight.circled.ss02.glif</string>
    <key>eight.circled.ss03</key>
    <string>eight.circled.ss03.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>eight.osf</key>
    <string>eight.osf.glif</string>
    <key>eightinferior</key>
    <string>eightinferior.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emdash.case</key>
    <string>emdash.case.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endash.case</key>
    <string>endash.case.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>etilde</key>
    <string>etilde.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdouble</key>
    <string>exclamdouble.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>exclamdown.case</key>
    <string>exclamdown.case.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_b.liga</key>
    <string>f_b.liga.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_b.liga</key>
    <string>f_f_b.liga.glif</string>
    <key>f_f_h.liga</key>
    <string>f_f_h.liga.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_j.liga</key>
    <string>f_f_j.liga.glif</string>
    <key>f_f_k.liga</key>
    <string>f_f_k.liga.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_f_t.liga</key>
    <string>f_f_t.liga.glif</string>
    <key>f_h.liga</key>
    <string>f_h.liga.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_j.liga</key>
    <string>f_j.liga.glif</string>
    <key>f_k.liga</key>
    <string>f_k.liga.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>f_lcaron.liga</key>
    <string>f_lcaron.liga.glif</string>
    <key>f_t.liga</key>
    <string>f_t.liga.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.blackCircled</key>
    <string>five.blackC_ircled.glif</string>
    <key>five.blackCircled.ss02</key>
    <string>five.blackC_ircled.ss02.glif</string>
    <key>five.blackCircled.ss03</key>
    <string>five.blackC_ircled.ss03.glif</string>
    <key>five.circled</key>
    <string>five.circled.glif</string>
    <key>five.circled.ss02</key>
    <string>five.circled.ss02.glif</string>
    <key>five.circled.ss03</key>
    <string>five.circled.ss03.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>fiveeighths</key>
    <string>fiveeighths.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.blackCircled</key>
    <string>four.blackC_ircled.glif</string>
    <key>four.blackCircled.ss02</key>
    <string>four.blackC_ircled.ss02.glif</string>
    <key>four.blackCircled.ss03</key>
    <string>four.blackC_ircled.ss03.glif</string>
    <key>four.circled</key>
    <string>four.circled.glif</string>
    <key>four.circled.ss02</key>
    <string>four.circled.ss02.glif</string>
    <key>four.circled.ss03</key>
    <string>four.circled.ss03.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>four.osf</key>
    <string>four.osf.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.ss04</key>
    <string>g.ss04.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gbreve.ss04</key>
    <string>gbreve.ss04.glif</string>
    <key>gcaron</key>
    <string>gcaron.glif</string>
    <key>gcaron.ss04</key>
    <string>gcaron.ss04.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>gcircumflex.ss04</key>
    <string>gcircumflex.ss04.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>gcommaaccent.ss04</key>
    <string>gcommaaccent.ss04.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>gdotaccent.ss04</key>
    <string>gdotaccent.ss04.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gmacron</key>
    <string>gmacron.glif</string>
    <key>gmacron.ss04</key>
    <string>gmacron.ss04.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetleft.case</key>
    <string>guillemetleft.case.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guillemetright.case</key>
    <string>guillemetright.case.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglleft.case</key>
    <string>guilsinglleft.case.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>guilsinglright.case</key>
    <string>guilsinglright.case.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.ordn</key>
    <string>h.ordn.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>hdotbelow</key>
    <string>hdotbelow.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.case</key>
    <string>hyphen.case.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idotaccent</key>
    <string>idotaccent.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>interrobang</key>
    <string>interrobang.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>istroke</key>
    <string>istroke.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jacute</key>
    <string>jacute.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>lcommaaccent.loclMAH</key>
    <string>lcommaaccent.loclM_A_H_.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>ldotbelow</key>
    <string>ldotbelow.glif</string>
    <key>leftArrow</key>
    <string>leftA_rrow.glif</string>
    <key>leftArrow.case</key>
    <string>leftA_rrow.case.glif</string>
    <key>leftRightArrow</key>
    <string>leftR_ightA_rrow.glif</string>
    <key>leftRightArrow.case</key>
    <string>leftR_ightA_rrow.case.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.ordn</key>
    <string>m.ordn.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>macroncomb.case.I</key>
    <string>macroncomb.case.I_.glif</string>
    <key>macroncomb.i</key>
    <string>macroncomb.i.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.ordn</key>
    <string>n.ordn.glif</string>
    <key>n_d.ordn</key>
    <string>n_d.ordn.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>ncommaaccent.loclMAH</key>
    <string>ncommaaccent.loclM_A_H_.glif</string>
    <key>nhookleft</key>
    <string>nhookleft.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.blackCircled</key>
    <string>nine.blackC_ircled.glif</string>
    <key>nine.blackCircled.ss02</key>
    <string>nine.blackC_ircled.ss02.glif</string>
    <key>nine.blackCircled.ss03</key>
    <string>nine.blackC_ircled.ss03.glif</string>
    <key>nine.circled</key>
    <string>nine.circled.glif</string>
    <key>nine.circled.ss02</key>
    <string>nine.circled.ss02.glif</string>
    <key>nine.circled.ss03</key>
    <string>nine.circled.ss03.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>northEastArrow</key>
    <string>northE_astA_rrow.glif</string>
    <key>northWestArrow</key>
    <string>northW_estA_rrow.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.ordn</key>
    <string>o.ordn.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>obreve</key>
    <string>obreve.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>odotbelow</key>
    <string>odotbelow.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.blackCircled</key>
    <string>one.blackC_ircled.glif</string>
    <key>one.blackCircled.ss02</key>
    <string>one.blackC_ircled.ss02.glif</string>
    <key>one.blackCircled.ss03</key>
    <string>one.blackC_ircled.ss03.glif</string>
    <key>one.circled</key>
    <string>one.circled.glif</string>
    <key>one.circled.ss02</key>
    <string>one.circled.ss02.glif</string>
    <key>one.circled.ss03</key>
    <string>one.circled.ss03.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>one.osf</key>
    <string>one.osf.glif</string>
    <key>oneeighth</key>
    <string>oneeighth.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>oneinferior</key>
    <string>oneinferior.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft-ar</key>
    <string>parenleft-ar.glif</string>
    <key>parenleft.case</key>
    <string>parenleft.case.glif</string>
    <key>parenleft.case.ss01</key>
    <string>parenleft.case.ss01.glif</string>
    <key>parenleft.case.ss03</key>
    <string>parenleft.case.ss03.glif</string>
    <key>parenleft.ss01</key>
    <string>parenleft.ss01.glif</string>
    <key>parenleft.ss03</key>
    <string>parenleft.ss03.glif</string>
    <key>parenleftinferior</key>
    <string>parenleftinferior.glif</string>
    <key>parenleftsuperior</key>
    <string>parenleftsuperior.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright-ar</key>
    <string>parenright-ar.glif</string>
    <key>parenright.case</key>
    <string>parenright.case.glif</string>
    <key>parenright.case.ss01</key>
    <string>parenright.case.ss01.glif</string>
    <key>parenright.case.ss03</key>
    <string>parenright.case.ss03.glif</string>
    <key>parenright.ss01</key>
    <string>parenright.ss01.glif</string>
    <key>parenright.ss03</key>
    <string>parenright.ss03.glif</string>
    <key>parenrightinferior</key>
    <string>parenrightinferior.glif</string>
    <key>parenrightsuperior</key>
    <string>parenrightsuperior.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.case</key>
    <string>periodcentered.case.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>periodcentered.loclCAT.case</key>
    <string>periodcentered.loclC_A_T_.case.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>published</key>
    <string>published.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>questiondown.case</key>
    <string>questiondown.case.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.ordn</key>
    <string>r.ordn.glif</string>
    <key>r_a.ordn</key>
    <string>r_a.ordn.glif</string>
    <key>r_d.ordn</key>
    <string>r_d.ordn.glif</string>
    <key>r_e.ordn</key>
    <string>r_e.ordn.glif</string>
    <key>r_e_s.ordn</key>
    <string>r_e_s.ordn.glif</string>
    <key>r_o.ordn</key>
    <string>r_o.ordn.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rightArrow</key>
    <string>rightA_rrow.glif</string>
    <key>rightArrow.case</key>
    <string>rightA_rrow.case.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.ordn</key>
    <string>s.ordn.glif</string>
    <key>s_t.ordn</key>
    <string>s_t.ordn.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>saltillo</key>
    <string>saltillo.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>sdotbelow</key>
    <string>sdotbelow.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.blackCircled</key>
    <string>seven.blackC_ircled.glif</string>
    <key>seven.blackCircled.ss02</key>
    <string>seven.blackC_ircled.ss02.glif</string>
    <key>seven.blackCircled.ss03</key>
    <string>seven.blackC_ircled.ss03.glif</string>
    <key>seven.circled</key>
    <string>seven.circled.glif</string>
    <key>seven.circled.ss02</key>
    <string>seven.circled.ss02.glif</string>
    <key>seven.circled.ss03</key>
    <string>seven.circled.ss03.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>seven.osf</key>
    <string>seven.osf.glif</string>
    <key>seveneighths</key>
    <string>seveneighths.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>sheqel</key>
    <string>sheqel.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.blackCircled</key>
    <string>six.blackC_ircled.glif</string>
    <key>six.blackCircled.ss02</key>
    <string>six.blackC_ircled.ss02.glif</string>
    <key>six.blackCircled.ss03</key>
    <string>six.blackC_ircled.ss03.glif</string>
    <key>six.circled</key>
    <string>six.circled.glif</string>
    <key>six.circled.ss02</key>
    <string>six.circled.ss02.glif</string>
    <key>six.circled.ss03</key>
    <string>six.circled.ss03.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>slash.case</key>
    <string>slash.case.glif</string>
    <key>slashlongcomb</key>
    <string>slashlongcomb.glif</string>
    <key>slashlongcomb.case</key>
    <string>slashlongcomb.case.glif</string>
    <key>slashshortcomb</key>
    <string>slashshortcomb.glif</string>
    <key>slashshortcomb.case</key>
    <string>slashshortcomb.case.glif</string>
    <key>southEastArrow</key>
    <string>southE_astA_rrow.glif</string>
    <key>southWestArrow</key>
    <string>southW_estA_rrow.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>strokelongcomb.case.H</key>
    <string>strokelongcomb.case.H_.glif</string>
    <key>strokeshortcomb</key>
    <string>strokeshortcomb.glif</string>
    <key>strokeshortcomb.case</key>
    <string>strokeshortcomb.case.glif</string>
    <key>strokeshortcomb.case.I</key>
    <string>strokeshortcomb.case.I_.glif</string>
    <key>strokeshortcomb.i</key>
    <string>strokeshortcomb.i.glif</string>
    <key>strokeshortcomb.t</key>
    <string>strokeshortcomb.t.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.ordn</key>
    <string>t.ordn.glif</string>
    <key>t_h.ordn</key>
    <string>t_h.ordn.glif</string>
    <key>t_t.dlig</key>
    <string>t_t.dlig.glif</string>
    <key>t_t_t.dlig</key>
    <string>t_t_t.dlig.glif</string>
    <key>t_tcaron.dlig</key>
    <string>t_tcaron.dlig.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.blackCircled</key>
    <string>three.blackC_ircled.glif</string>
    <key>three.blackCircled.ss02</key>
    <string>three.blackC_ircled.ss02.glif</string>
    <key>three.blackCircled.ss03</key>
    <string>three.blackC_ircled.ss03.glif</string>
    <key>three.circled</key>
    <string>three.circled.glif</string>
    <key>three.circled.ss02</key>
    <string>three.circled.ss02.glif</string>
    <key>three.circled.ss03</key>
    <string>three.circled.ss03.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>threeeighths</key>
    <string>threeeighths.glif</string>
    <key>threeinferior</key>
    <string>threeinferior.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecomb.i</key>
    <string>tildecomb.i.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.blackCircled</key>
    <string>two.blackC_ircled.glif</string>
    <key>two.blackCircled.ss02</key>
    <string>two.blackC_ircled.ss02.glif</string>
    <key>two.blackCircled.ss03</key>
    <string>two.blackC_ircled.ss03.glif</string>
    <key>two.circled</key>
    <string>two.circled.glif</string>
    <key>two.circled.ss02</key>
    <string>two.circled.ss02.glif</string>
    <key>two.circled.ss03</key>
    <string>two.circled.ss03.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>twoinferior</key>
    <string>twoinferior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ubar</key>
    <string>ubar.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>upArrow</key>
    <string>upA_rrow.glif</string>
    <key>upDownArrow</key>
    <string>upD_ownA_rrow.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>whiteCircle</key>
    <string>whiteC_ircle.glif</string>
    <key>whiteCircle.ss03</key>
    <string>whiteC_ircle.ss03.glif</string>
    <key>whiteSmilingFace</key>
    <string>whiteS_milingF_ace.glif</string>
    <key>whiteSquare</key>
    <string>whiteS_quare.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>ytilde</key>
    <string>ytilde.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.blackCircled</key>
    <string>zero.blackC_ircled.glif</string>
    <key>zero.blackCircled.ss02</key>
    <string>zero.blackC_ircled.ss02.glif</string>
    <key>zero.blackCircled.ss03</key>
    <string>zero.blackC_ircled.ss03.glif</string>
    <key>zero.circled</key>
    <string>zero.circled.glif</string>
    <key>zero.circled.ss02</key>
    <string>zero.circled.ss02.glif</string>
    <key>zero.circled.ss03</key>
    <string>zero.circled.ss03.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
    <key>zeroinferior</key>
    <string>zeroinferior.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
  </dict>
</plist>
